[submodule "public/assets"]
	path = public/assets
	url = https://github.com/RAKWirelessDev/website-assets.git
[submodule "public/public/assets"]
	path = public/public/assets
	url = https://github.com/RAKWirelessDev/website-assets.git
	branch = master
